.ContactItem {
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
  .contact {
    height: 10rem;
    display: flex;
    align-items: center;
    background-color: #191d2b;
    padding: 3rem 0;
    .right-items {
      margin-left: 2rem;
    }
    img {
      padding: 1rem;
      border: 1px solid #2e344e;
      margin-left: 2rem;
      width: 15%;
    }
    .right-items {
      h6 {
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
  }
}

.ContactPage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 13rem;
  @media screen and (max-width: 1520px) {
    grid-template-columns: repeat(1, 1fr);
    .contact-sect {
      margin-top: 1rem;
    }
  }
  .contact-sect {
    width: 100%;
  }
}

.map-sect {
  padding: 1.11rem;
  width: 97%;
  background-color: #191d2b;
  border: 8px groove white;
  @media screen and (max-width: 1520px) {
    width: 100%;
    margin-bottom: 13rem;
    height: 100%;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
}

.contact-sect {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.title {
  margin-bottom: 3.5rem;
}
