.HomePage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.hero-text {
  color: white;
  text-align: center;
  font-size: 3.6rem;
  span {
    color: #037fff;
  }
}

.h-sub-text {
  text-align: center;
  font-size: 2rem;
  font-family: inherit;
  font-weight: 500%;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  .icon-holder {
    margin-right: 1rem;
    .icon {
      font-size: 2.8rem;
      color: #a4acc4;
      transition: all 0.4s ease-in-out;
    }

    .fb:hover {
      color: #3b5998;
    }
    .li:hover {
      color: #0072b1;
    }
    .tw:hover {
      color: #00acee;
    }
    .gh:hover {
      color: white;
    }
  }
}
